_site
.sass-cache
.jekyll-metadata
.jekyll-cache
Gemfile.lock
Gemfile
._portfolio/project1.md
._portfolio/project2.md
._portfolio/project3.md
._portfolio/project4.md
._portfolio/project5.md
._portfolio/project6.md
